@import '../../../assets/scss/core.scss';

#tetris{
    font-family: $tetris-font;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    margin: 0 auto;
    max-width: 900px;
    outline: none  !important;
    aside{
        width: 100%;
        max-width: 200px;
        display: block;
        padding: 0 20px;
    }
}
