@import '../../../assets/scss/core.scss';



header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    // background-color: $header-color;
    color: $font-color;
    width: 100%;
    font-family: $main-font;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 80%;
    padding-right: 1%;
}


#logo{
    display:flex;
    align-items: center;
    padding-left:1%;
    flex-direction: row;
    background-color: transparent;
    h1{
        font-size: $xxxl;
    }
    img{
        width:30px;
        height: 30px;
    }
}

.link{
    text-decoration: none;
    color: $font-color;
    display: flex;
    flex-direction: row;
    align-items: center;
}