@import '../../assets/scss/core.scss';

#home{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $font-color;
    font-family: $main-font;
    p{
        font-size: $xxl;
        text-align: center;
    }
}

#sign-up{
    background-color: $button-color;
    border: none;
    height: 80px;
    width: 180px;
    font-size: $xxl;
    color: $font-color;
    border-radius: 10px;
}
h1{
    font-size: $xxxxl;

}

